{
 "general": {
   "api.version.request": true,
   "bootstrap.servers": "kafka-1.example.com,kafka-2.example.com",
   "session.timeout.ms": 6000,
   "log.connection.close": false
 },
 "consumer": {
   "go.events.channel.enable": true,
   "go.application.rebalance.enable": true,
   "enable.auto.commit": false,
   "auto.offset.reset": "latest"
 },
 "producer": {
   "go.delivery.reports": true
 }
}
